.location-lists {
  margin-bottom: 40px;
  margin-right: 25px;
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.location-card-container {
  background-color: #ffffff;
}
.location-img {
  width: 100%;
}
.location-description-LocationContainer {
  margin-top: 0px;
  padding-top: 0px;
  padding-left: 20px;
  padding-right: 40px;
}
.location-heading {
  font-family: 'Roboto';
  font-size: 18px;
  color: #475569;
  font-weight: 500;
  text-align: left;
}
.location-description {
  font-family: 'Roboto';
  font-size: 15px;
  color: #64748b;
  text-align: left;
}
